body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #313131;
    overflow-x: hidden;
    line-height: 1;
}

#app {
    width: 100%;
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
}

a,
div,
p {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}